.PersonalWork-row {
  width: 100%;
}
.PersonalWork-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0px auto;
}
.PersonalWork-page-text {
  color: white;
  font-size: 18px;
}
.navbar-button {
  margin-top: auto;
  margin-bottom: auto;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  
  color: #FFFFFF;
  cursor: pointer;
}