.Arch400-page-text {
  color: white;
  font-size: 18px;
  margin-top: 100px;
}
.Arch400-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Arch400-row {
  margin-top: 60px;
  margin-left: 140px;
}
.Arch400-img-big {
  object-fit: cover;
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.navbar-button {
  margin-top: auto;
  margin-bottom: auto;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  
  color: #FFFFFF;
  cursor: pointer;
}