.Arch480-page-text {
    color: white;
    font-size: 18px;
    margin-top: 100px;
  }
  .Arch480-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .Arch480-row {
    margin-top: 60px;
    margin-left: 140px;
  }
  .Arch480-img-med {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .Arch480-img-big {
    object-fit: cover;
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-button {
    margin-top: auto;
    margin-bottom: auto;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    
    color: #FFFFFF;
    cursor: pointer;
  }