#home-name{
  position: absolute;
  width: 628px;
  height: 99px;
  left: 640px;
  top: 250px;

  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 99px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}

#home-title {
  position: absolute;
  width: 667px;
  height: 74px;
  left: 626px;
  top: 350px;

  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 74px;
  text-align: center;

  color: #FFFFFF;
}

#projects-home-button {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 583px;
  top: 560px;

  border-radius: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;

  cursor: pointer;
}

#about-home-button {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 1040px;
  top: 560px;

  border-radius: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;

  cursor: pointer;
}

.background-image {
  background: linear-gradient(to top, #000000ab, #474747cc), url("../assets/Arch400/diagram3.jpg") no-repeat top center;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}