#beacon-header{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 42px;
  text-align: center;
  line-height: 1.1;
  color: #FFFFFF;
}

.navbar-button {
  margin-top: auto;
  margin-bottom: auto;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  
  color: #FFFFFF;
  cursor: pointer;
}