.Arch302-row {
  max-width: 50%;
}
.Arch302-img {
  max-width: 500px;
  padding: 0px 100px;
  object-fit: cover;
}
.Arch302-img-big {
  max-width: 900px;
  object-fit: cover;
  margin: 0px auto;
}
.Arch302-page-text {
  color: white;
  font-size: 18px;
}
.navbar-button {
  margin-top: auto;
  margin-bottom: auto;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
  cursor: pointer;
}
