#about-header {
  margin-top: 25px;
  margin-left: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 112px;
  color: #FFFFFF;
}

#about-info {
  width: 1368px;
  height: 528px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  color: #FFFFFF;
}

#projects-button {
  margin-top: 70px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
  cursor: pointer;
}