.video-responsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  margin: 20px auto;
}

.NarrativeDesign-page-text {
  color: white;
  font-size: 18px;
}

.game-title-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  line-height: 1.1;
  color: #FFFFFF;
}

.NarrativeDesign-img {
  max-width: 100%;
}