.GameDesign-page-text {
  color: white;
  font-size: 18px;
}
.GameDesign-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.GameDesign-row {
  width: 100%;
}
.GameDesign-img-big {
  object-fit: cover;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.GameDesign-img-med {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-button {
  margin-top: auto;
  margin-bottom: auto;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  
  color: #FFFFFF;
  cursor: pointer;
}