
#projects-header{
  margin-top: 25px;
  margin-left: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 112px;
  color: #FFFFFF;
}

.Thumbnail-container {
  width: 480px;
  height: 480px;
  position: relative;  
  margin: auto;
}

.Thumbnail {
  width: 480px;
  height: 480px;

  background-position: center;
  background-size: cover;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;

  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.Thumbnail-inner {
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  border: 3px solid #FFFFFF;
  border-radius: 8px;

  opacity: 0;
  transition: opacity .3s ease;

  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 37px;
  text-align: center;
  padding: 180px 0px;
  color: #FFFFFF;

  cursor: pointer;
}

.Thumbnail-inner:hover {
  opacity: 1;
}

#Arch400 {
  background-image: url("../assets/Arch400/final.jpg");
}

#Arch400-inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../assets/Arch400/final.jpg");

  background-position: center;
  background-size: cover;
}

#Arch480 {
  background-image: url("../assets/Arch480/Cover.jpg");
}

#Arch480-inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../assets/Arch480/Cover.jpg");

  background-position: center;
  background-size: cover;
}

#about-button {
  margin-top: 70px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
  cursor: pointer;
}

#GameDesign {
  background-image: url("../assets/BoardGames/board_game_top_down.jpg");
}

#GameDesign-inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../assets/BoardGames/board_game_top_down.jpg");
  
  background-position: center;
  background-size: cover;
}

#Arch302 {
  background-image: url("../assets/Arch302/urbanfoodcenter.jpg");
}

#Arch302-inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../assets/Arch302/urbanfoodcenter.jpg");
  
  background-position: center;
  background-size: cover;
}

#Arch401 {
  background-image: url("../assets/Arch401/Library.png");
}

#Arch401-inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../assets/Arch401/Library.png");
  
  background-position: center;
  background-size: cover;
}

#Personal {
  background-image: url("../assets/PersonalWork/Repetition.jpg");
}

#Personal-inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../assets/PersonalWork/Repetition.jpg");
  
  background-position: center;
  background-size: cover;
}

#Descend {
  background-image: url("../assets/Descend/Descend.jpg");
}

#Descend-inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../assets/Descend/Descend.jpg");
  
  background-position: center;
  background-size: cover;
}

#Narrative {
  background-image: url("../assets/NarrativeDesign/NarrativeThumbnail.jpg");
}

#Narrative-inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../assets/NarrativeDesign/NarrativeThumbnail.jpg");
  
  background-position: center;
  background-size: cover;
}